@using Microsoft.AspNetCore.Identity
@using CotoviaSite2.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{ 
    var Nome = "";
    if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        Nome = user.Nome;
    }
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <li class="nav-item dropdown temas">
            <a class="nav-link  dropdown-toggle" data-toggle="dropdown" style="color:black" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Olá @Nome</a>
            <ul class="dropdown-menu " style="background-color: yellowgreen">
                <li><a class="dropdown-item text-center btn btn-primary button texto" style="color:black" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Perfil</a></li>
                <li><a class="dropdown-item text-center btn btn-primary button texto" style="color:black" asp-area="" asp-controller="Noticias" asp-action="Index">Notícias</a></li>
                @if (User.IsInRole("autor"))
                {
                    <li><a class="dropdown-item text-center btn btn-primary button texto" style="color:black" asp-area="" asp-controller="Fotografias" asp-action="Index">Fotografias</a></li>
                }
                <li>
                    <form class="dropdown-item "  style="background-color: yellowgreen" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link dropdown-item btn btn-link text-center btn-primary button texto" style="color:black">Sair</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item temas">
            <a class="nav-link" style="color:black" asp-area="Identity" asp-page="/Account/Register">Registar</a>
        </li>
        <li class="nav-item temas">
            <a class="nav-link" style="color:black" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
        </li>
    }
</ul>
