@model CotoviaSite2.Models.Fotografias

@{
    ViewData["Title"] = "Create";
}

<h1 class="subtitulo">Fotografias</h1>
<h4 class="extratitulo">Adicionar uma fotografia</h4>
<a asp-action="Index" class="links">Voltar à Lista</a>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label texto"></label>
                <br />
                <input type="file" name="Foto" accept=".jpg,.png" style="color:darkgrey" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeFoto" class="texto"></label>
                <input asp-for="NomeFoto" class="form-control" />
                <span asp-validation-for="NomeFoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFoto" class="texto"></label>
                <input asp-for="DataFoto" class="form-control" />
                <span asp-validation-for="DataFoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalFoto" class="texto"></label>
                <input asp-for="LocalFoto" class="form-control" />
                <span asp-validation-for="LocalFoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fotografo" class="texto"></label>
                <input asp-for="Fotografo" class="form-control" />
                <span asp-validation-for="Fotografo" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Submeter" class="btn btn-primary button texto" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
