@model CotoviaSite2.Models.Fotografias

@{
    ViewData["Title"] = "Create";
}

<h1 class="subtitulo">Create</h1>

<h4 class="extratitulo">Fotografias</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label texto"></label>
                <input type="file" name="Foto" accept=".jpg,.png" style="color:blue;" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFoto" class="texto"></label>
                <input asp-for="DataFoto" class="form-control" />
                <span asp-validation-for="DataFoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalFoto" class="texto"></label>
                <input asp-for="LocalFoto" class="form-control" />
                <span asp-validation-for="LocalFoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fotografo" class="texto"></label>
                <input asp-for="Fotografo" class="form-control" />
                <span asp-validation-for="Fotografo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary texto" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="texto">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
