@model CotoviaSite2.Models.Fotografias

@{
    ViewData["Title"] = "Edit";
}

<h1 class="subtitulo">Fotografias</h1>
<h4 class="extratitulo">Editar fotografia</h4>
<a asp-action="Index" class="links">Voltar à Lista</a>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger texto"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <img src="~/fotos/@Model.Foto" alt="photo of @Model.LocalFoto" title="@Model.Fotografo" height="200" />
                <input asp-for="Foto" class="form-control" hidden />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeFoto" class="texto"></label>
                <input asp-for="NomeFoto" class="form-control" />
                <span asp-validation-for="NomeFoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFoto" class="control-label texto"></label>
                <input asp-for="DataFoto" class="form-control" hidden />
                @Html.DisplayFor(model => model.DataFoto)
                <span asp-validation-for="DataFoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalFoto" class="control-label texto"></label>
                <input asp-for="LocalFoto" class="form-control" />
                <span asp-validation-for="LocalFoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fotografo" class="control-label texto"></label>
                <input asp-for="Fotografo" class="form-control" />
                <span asp-validation-for="Fotografo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar alterações" class="btn btn-primary button texto" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
