@model IEnumerable<CotoviaSite2.Models.Noticias>
@{
    ViewData["Title"] = "Ambiente";
}

<div class="text-center">
    <h1 class="titulo">Ambiente</h1>
</div>
<hr />
<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-md-4" style="float:left">
                <div class="card">
                    <img class="card-img-top" src="~/fotos/@item.ListaFotografias" alt="Imagem da Noticia">
                    <div class="card-body">
                        <h5 class="card-title extratitulo">@Html.DisplayFor(modelItem => item.Titulo)</h5>
                        <p class="card-text datacartao">@Html.DisplayFor(modelItem => item.Data)</p>
                        <p class="card-text texto">@Html.DisplayFor(modelItem => item.Resumo)</p>
                        <a asp-area="" asp-controller="Noticias" asp-action="CorpoNot" class="btn button btn-primary">Ler mais</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
