@model CotoviaSite2.Models.Noticias

@{
    ViewData["Title"] = "Create";
}

<h1 class="subtitulo">Notícias</h1>
<h4 class="extratitulo">Criar nova notícia</h4>
<a asp-action="Index" class="links">Voltar à Lista</a>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data" class="control-label texto"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label texto"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resumo" class="control-label texto"></label>
                <input asp-for="Resumo" class="form-control" />
                <span asp-validation-for="Resumo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conteudo" class="control-label texto"></label>
                <input asp-for="Conteudo" class="form-control" />
                <span asp-validation-for="Conteudo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label texto"></label>
                <select asp-for="Estado" class="form-control" asp-items="Html.GetEnumSelectList<Estado>()"><options>Selecione o estado</options>>></select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tema" class="control-label texto"></label>
                <select asp-for="Tema" class="form-control" asp-items="Html.GetEnumSelectList<Tema>()"><options>Selecione o tema</options>></select>
                <span asp-validation-for="Tema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListaFotografias" class="control-label texto">Fotografia(s)</label>
                <select asp-for="ListaFotografias" class="form-control" asp-items="@(IEnumerable<SelectListItem>)ViewBag.fotos"><options>Selecione o tema</options>></select>
                <!--<span asp-validation-for="Tema" class="text-danger"></span>-->
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Submeter" class="btn button btn-primary texto" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
