@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Input.Utilizador.Nome"></label>
                    <input asp-for="Input.Utilizador.Nome" class="form-control" />
                    <span asp-validation-for="Input.Utilizador.Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Utilizador.Foto" class="control-label texto"></label>
                    <input type="file" name="Input.Utilizador.Foto" accept=".jpg,.png" style="color:blue;" />
                    <span asp-validation-for="Input.Utilizador.Foto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Utilizador.Cargo" class="control-label texto"></label>
                    <select asp-for="Input.Utilizador.Cargo" class="form-control" asp-items="Html.GetEnumSelectList<CotoviaSite2.Models.Cargo>()"><options>Selecione o cargo</options>>></select>
                    <span asp-validation-for="Input.Utilizador.Cargo" class="text-danger"></span>
                </div>


            </div>
            <div class="col-md-6">  
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-right">
            <button type="submit" class="btn btn-primary">Registar</button>
        </div>
    </div>

</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}